.subscribe-button {
    background-color: rgb(168, 0, 0);
    color: white;
    border: none;
    height: 35px;
    width: 108px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 11px;
    transition: opacity 0.15s;
  }

  .join-button {
    color: rgb(24, 155, 255);
    height: 30px;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    border-color: rgb(24, 155, 255);
    border-style: solid;
    margin-right: 11px;
    transition: background-color 1s,
    color 1s;
  }

  .tweet-button {
    background-color: rgb(64, 156, 255);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 75px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }

  .subscribe-button:hover {
    opacity: 0.7;
  }

  .subscribe-button:active {
    opacity: 0.5;
  }

   .join-button:hover {
    color: white;
    background-color:  rgb(64, 156, 255);
  }

  .join-button:active {
    opacity:0.7;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
  }
