 p {
        font-family: Roboto,arial; 
        margin-top: 0px;
        margin-bottom: 0px;
      }
        .thumbnail {
         width: 100%;
        }
         .video-info-grid {
          display: grid;
          grid-template-columns: 50px 1fr;
        }

        .profile-picture {
          width: 36px;
          border-radius: 30px;
        }

        .video-title {
          margin-top: 0px;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          margin-bottom: 10px;
        }

        .thumbnail-row {
        margin-bottom: 8px;
        position: relative ;
        }

        .youtuber , .video-stats{
          font-size: 12px;
          color: rgb(96, 96, 96);
        }

        .youtuber {
          margin-bottom: 4px;
         
        }

        .video-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap:16px;
          row-gap:40px ;
         
          
        }

        @media (max-width: 750px) {
          .video-grid {
            grid-template-columns: 1fr 1fr;
          }
        }
       @media (min-width:751px) and (max-width:999px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
       }
      


        .video-time {
          background-color: black;
          color: white;
          position: absolute;
          bottom: 4px;
          right: 2px;
          font-family: roboto, arial;
          font-size: 12px;
          font-weight: 500 ;
        padding: 4px;
          border-radius: 2px;
        }

